version: "3"
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: composeyogi
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    image: appsyogi/composeyogi:latest
